
@use 'history';
@use 'input';
@use 'top-bar';
@use 'auto-update';
@use 'page';

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  width: 100vw;
}

.welcome-message {
  position: absolute;
  top: 4rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: opacity 150ms cubic-bezier(.25, .46, .45, .94);
  color: rgba(255, 255, 255, 0.95);

  h1 {
    margin: 0.5rem 0;
  }

  p {
    margin: 0.25rem 0;
  }

  a {
    color: #B2DC5B;

    &:active,
    &:visited {
      color: #B2DC5B;
    }
  }

  &.hidden {
    opacity: 0;
    z-index: -1;
  }
}

@media screen and (min-width: 720px) {
  body.limit-size #app {
    max-width: 500px;
    max-height: 640px;
    border: 5px solid rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 719px) {
  .fullscreen-option {
    display: none;
  }
}